
<link rel="stylesheet" href="css/crafting.css" />

<panel header="Crafting">

    <div class="container">
        <div class="row">
            <!-- first column -->
            <div class="col-md-4">

                <!-- Recipe list -->
                <panel header="Recipes">


                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding recipe-item" ng-repeat="recipe in recipes" ng-click="recipeSelect(recipe, $event)">
                            <div class="md-list-item-text">
                                <img src="{{getRecipeIcon(recipe)}}" class="icon-md" />
                                <span>{{recipe.item.name}}</span>
                            </div>
                        </md-list-item>
                    </md-list>

                    <div>
                        <span>Recipe Name: </span>
                        <span>{{selectedRecipe.item.name}}</span>
                    </div>
                    <div>
                        <span>Slot: </span>
                        <span>{{selectedRecipe.item.bodySlot}}</span>
                    </div>
                    <div>
                        <span>Capacity: </span>
                        <span>{{selectedRecipe.extraCapacity}}</span>
                    </div>

                </panel>

                <!-- Craft button -->
                <panel header="">

                    <button class="btn btn-primary" ng-click="submitRecipe()" >
                        Craft!
                    </button>

                </panel>

            </div>

            <!-- second column -->
            <div class="col-md-4">

                <!-- Base Materials -->
                <panel header="Base Materials" ng-show="selectedRecipe">

                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding recipe-item" ng-repeat="req in selectedRecipe.recipeReqs" ng-click="">
                            <div class="md-list-item-text">
                                <inventory-material inventory-material="req" />
                                <!--{{req.material.name}}-->
                                <!--{{req.quantity}}-->
                                <!--{{req.material.icon}}-->
                            </div>
                        </md-list-item>
                    </md-list>

                </panel>

                <!-- Extra Materials -->
                <panel header="Extra Materials" ng-show="selectedRecipe">

                    <div>Remaining Capacity: {{remainingCapacity}}</div>
                    <div>
                        <!--<list contents="extraMats" template-contents="recipe-requirements-template.html" click=""></list>-->
                        <md-list class="scroll-container medium-height ">
                            <md-list-item class="secondary-button-padding recipe-item" ng-repeat="mat in extraMats" ng-click="">
                                <div class="md-list-item-text">
                                    <inventory-material inventory-material="mat" />
                                    <!--{{mat.material.name}}-->
                                    <!--{{mat.quantity}}-->
                                    <!--{{mat.material.icon}}-->
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>

                </panel>
            </div>

            <!-- third column -->
            <div class="col-md-4">

                <!-- Inventory Materials -->
                <panel header="Materials">
                    <!--pass the selected mat to the list directive so it can be compared inthe template and highlighted-->

                    <list-filter options="materialFilterOptions" filter="materialFilter" />

                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding inv-material-item" ng-repeat="invMaterial in mats | filter:filterMaterialsFunction" ng-click="matSelect(invMaterial, $event)">
                            <div class="md-list-item-text">
                                <inventory-material inventory-material="invMaterial" />
                            </div>

                            <md-button class="md-secondary" ng-click="addMatToRecipe(invMaterial, $event)">Add</md-button>
                        </md-list-item>
                    </md-list>

                </panel>

                <panel header="Effects" >
                    <div ng-show="selectedRecipe && selectedMat" >
                        <dl class="dl-horizontal" ng-repeat="effect in effectList = (selectedMat.material.effectList | filter: {'slot': selectedRecipe.item.bodySlot})">
                            <dt>{{effect.effectType}}</dt>
                            <dd>{{effect.value}}</dd>
                        </dl>
                        <div ng-hide="effectList.length">
                            Nothing to show
                        </div>
                    </div>
                </panel>

            </div>

        </div>
    </div>

</panel>

debug
<div>selectedRecipe {{selectedRecipe}}</div>
<div>inventoryMaterials {{inventoryMaterials}}</div>
