
<div class="container">

    <div ng-show="farm">
        {{farm}}

        <div class="plot-row-wrapper" ng-repeat="plotRow in farm.farmPlots">
            <div class="plot-wrapper" ng-repeat="plot in plotRow">
                <div ng-show="plot.plantType">
                    <span>Plant: {{plot.plantType}}</span>
                    <span>Date: {{plot.plantDate | date:'MM-dd-yyyy HH:mm:ss'}}</span>

                    <!-- progress bar -->
                    <!-- timer's progressBar variable starts at 100 and counts down to 0 for some reason -->
                    <timer start-time="plot.plantDate" end-time="plot.endDate" interval="1000">
                        [{{progressBar}}]
                        <div class="progress active {{displayProgressActive}}" ng-show="progressBar > 0">
                            <div class="progress-bar bar" style="width: calc(100% - {{progressBar}}%);">
                            </div>
                        </div>

                        <button class="btn" ng-show="progressBar <= 0 || !progressBar" ng-click="harvest(plot)">Harvest</button>
                    </timer>
                </div>

                <button class="btn" ng-hide="plot.plantType" ng-click="plant(plot)">
                    Plant grass
                </button>
            </div>
        </div>

        <div>
            {{harvestedMaterials}}
        </div>

        <div>
            Class: {{farm.currCharClass.charClassDefinition.name}}
            Level: {{farm.currCharClass.currentLevel}}
            XP: {{farm.currCharClass.currentXP}}
        </div>

        <button class="btn" ng-click="changeCharClass()">Change class</button>

        <button class="btn btn-secondary" ng-click="deleteFarm()">Delete</button>
    </div>

    <button class="btn btn-primary" ng-hide="farm" ng-click="createFarm()">Create</button>

</div>