
    <style>
        /*div {
            border: 1px solid #ccc
        }*/

        .stats-pane {height:400px;}

        .comparison {height:375px;}
        .trash {height:50px;}
        .consumable {height:375px;}

        .equip {height:400px;}
        .mats {height:400px;}


        /*.floated {
            position:absolute;
            top:20px;
            left:20px;
        }
        .floated-2 {
            position:absolute;
            top:40px;
            left:60px;
        }*/

        <!--button.selected-toggle-button {-->
            <!--color: red;-->
        <!--}-->
    </style>


<div class="container">
    <div class="row">

        <div class="col-md-4">
            <panel header="Paper doll">

                <paper-doll equipped-items="char.equippedItems" />

                <!--<div class="paper-doll">-->
                    <!--<div class="paper-doll-wrapper">-->
                        <!--&lt;!&ndash;<img src="Untitled.png" class="paper-doll-img" />&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="floated">f</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="floated-2">f2</span>&ndash;&gt;-->
                        <!--<div>Body: {{char.equippedItems.BODY.equipment.item.name}}</div>-->
                        <!--<div>Left Hand: {{char.equippedItems.LEFT_HAND.equipment.item.name}}</div>-->
                    <!--</div>-->
                <!--</div>-->
            </panel>
            <panel header="Stats">
                <div class="stats-pane">
                    hello
                </div>
            </panel>
        </div>

        <div class="col-md-4">
            <panel header="Comparison">
                <div class="comparison">
                    compare
                </div>
            </panel>
            <panel header="Trash">
                <div class="trash">
                    trash
                </div>
            </panel>
            <panel header="Consumables">
                <div class="consumable">
                    cons
                </div>
            </panel>
        </div>

        <div class="col-md-4">
            <panel header="Equipment">

                <list-filter options="equipmentFilterOptions" filter="equipmentFilter" />

                <md-list class="scroll-container medium-height">
                    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="invEquipment in char.inventoryEquipment | filter:filterEquipmentFunction" ng-click="inventoryEquipmentSelect(invEquipment, $event)">
                        <div class="md-list-item-text">
                            <img src="{{getItemIcon(invEquipment)}}" class="icon-md" />
                            <span>{{invEquipment.item.name}}</span>
                        </div>

                        <md-button class="md-secondary" ng-click="equipItem(invEquipment, $event)">Equip</md-button>
                    </md-list-item>
                </md-list>
            </panel>

            <!-- Materials -->
            <panel header="Materials">
                <md-list class="scroll-container medium-height">
                    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="invMaterial in char.inventoryMaterials" ng-click="inventoryMaterialSelect(invMaterial, $event)">
                        <div class="md-list-item-text">
                            <inventory-material inventory-material="invMaterial" />
                            <!--{{invMaterial.material.name}}-->
                            <!--{{invMaterial.quantity}}-->
                            <!--{{invMaterial.material.icon}}-->
                        </div>
                    </md-list-item>
                </md-list>
            </panel>
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<div class="mats">-->
                        <!--&lt;!&ndash; MATERIALS &ndash;&gt;-->
                        <!--<list contents="char.inventoryMaterials" template-contents="inventory-materials-template.html" click="inventoryMaterialSelect(recipe)"></list>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
