/** list box directive */
/*div.scroll-list {
    overflow-y:scroll;
    border: 1px solid #333
}
div.scroll-list-inner {
    border-right: 1px solid #333;
}
div.scroll-item {
    width:100%;
    border-bottom: 1px solid #333;
}*/

.width-large {
    width: 900px;
}
.width-medium {
    width: 700px;
}
.width-small {
    width: 500px;
}
.width-extra-small {
    width: 275px;
}

.scroll-container {
    overflow-y: scroll;
}
.medium-height {
    height: 300px;
}
/*.small-height {
    min-height: 48px !important;
}*/

.panel-body md-list {
    margin: 0px;
    padding: 0px;
}

.toggle-button {
    color: gray;
    padding: 0px;
    margin: 0px;
}

.toggle-button-selected {
    color: green;
    background-color: lightgreen;
}

.toggle-button-icon {
    width: 20px;
    height: 20px;
}

.plot-row-wrapper {

}

.plot-wrapper {
    border: 1px solid black;
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 5px;
    padding: 5px;
}